body{ 
    font-family:"roboto", "sans-serif";
    color:#333;
    background-color:#f4f4f4;
    margin:0; 
}

header{ 
    background-color:#1d2b5a;
    color:#fff;
    padding:20px; 
    text-align:center; 
}
nav{
    margin : top 10px;

}
nav a{
    color:#fff;
    text-decoration: none ;
    margin: 0 10px;
    font-weight: bold; }
main{
    padding:40px;
    max-width:900px;
    margin:auto;
    }
footer{ 
   text-align: center;
    padding:20px;
    background :#fffefe;
    margin-top: 20px;
}
.intro{
     text-align: center;
}
.avatar{ 
    border-radius: 50%;
    width: 150px;
    margin-bottom : 20px;
}
.proyectos-grid{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content :space-around;
}
.card{
    background : #fff;
    padding:20 px;
    border-radius: 10px;
    box-shadow: 0 0px 10px rgba(0,0,0,0.1);
    width: 250px;
    box-sizing: border-box;
}