{% extends "base.html" %}

{% block title %} proyectos {% endblock %}
{% block content %}
<section class="proyectos">
    <div class="grid">
        <div class="card"> 
            <h3> proyecto 1</h3>
            <p>descripcion del proyecto</p>
        </div>
        <div class="card"> 
            <h3> proyecto 2</h3>
            <p>descripcion del proyecto</p>
        </div>
        <div class="card"> 
            <h3> proyecto alfa</h3>
            <p>descripcion del proyecto</p>
        </div>
    </div>

</section>

{% endblock %}