{% extends "base.html" %}

{% block title %} proyectos {% endblock %}
{% block content %}
<section class="proyectos">
    <div class="grid">
        <div class="card"> 
            <h3>creacion de un juego en mblock </h3>
            <p>este proyecto fue creado a atraves de mblock, llamado clean ,el juego se trata de un personaje que quiere limpiar  la basura de todo el mundo ,pero primero tiene que empezar desde su casa.El jugo quiero promover elcuidado al medio ambiente. </p>
        </div>
        <div class="card"> 
            <h3> produccion velas aromaticas artesanales</h3>
            <p>este proyecto se basa en la elaboracion y comercializacion de velas hechas a mano , utilizando  soja, sencias naturales y mechas ecologicas.</p>
        </div>
        <div class="card"> 
            <h3> proyecto alfa</h3>
            <p>descripcion del proyecto</p>
        </div>
    </div>

</section>

{% endblock %}