<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cintia Choque</h1>
    <img src="c:\Users\Usuario\Pictures\Camera Roll\WIN_20250423_15_15_58_Pro.jpg" alt="" srcset="">
    <p>foto improvisada. jaja</p>
    <br>
    <p>Soy una persona de poca palabras.Estoy trabajando en una verduleria.me gusta los gatos, veo telenovelas turcas y kdramas. a veces voy a jugas basquet con algunas primas.Me gusta el diseño y el dibujo y quiero estudiar arquitecta.
    </p> 
    


</body>
</html>